@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>My name is Lars. I love Jesus and my little family. 🙏⛪✝👨‍👩‍👧🎮🛹</p>

<p> I work as a Service Engineer on the M365 Advanced Cloud Engineering (ACE) team at Microsoft.<br />
<br />
🌱 I recently <b>completed</b> the C# Programming Using .NET Core certificate program at UW Professional and Continuing Education:
<ul>
 <li>Foundations of Programming (C# and .NET) - Fall 2020</li>
 <li>C# Programming Using .NET Core - Winter 2021</li>
 <li>Creating Client Applications Using .NET Core - Spring 2021</li>
 <li>ASP.NET Core Applications And Cloud Services - Summer 2021</li>
 </ul>

 Please visit the contact page for more information on how to connect!
</p>
