@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>My name is Lars. I love Jesus and my little family. 🙏⛪✝👨‍👩‍👧🎮🛹</p>

<img src="https://pbs.twimg.com/profile_images/1390050717507809280/fu6Gv_gm_400x400.jpg" />
<br />
<br />
<p> I work as a Customer Experience Engineer on the M365 Advanced Cloud Engineering (ACE) team at Microsoft.<br />
<br />
🌱 In fall of 2021, I <b>completed</b> the C# Programming Using .NET Core certificate program at UW Professional and Continuing Education:
<ul>
        <li><b>Foundations of Programming (C# and .NET)</b> - Fall 2020</li>
        <li><b>C# Programming Using .NET Core</b> - Winter 2021</li>
        <li><b>Creating Client Applications Using .NET Core</b> - Spring 2021</li>
        <li><b>ASP.NET Core Applications And Cloud Services</b> - Summer 2021</li>
 </ul>

<p>Recently, I have been enjoying getting outdoors. 🏔️🌲🏕️</p>

    <div class="card-img">

        <img src="/images/outdoors.png" width="1024" title="This is a picture of the beautiful outdoors."><img>

    </div>

<p>I enjoy going on walks and hikes with family.</p>

<p>Please visit the <a asp-area="" asp-controller="Home" asp-action="Contact">contact page</a> for more information on how to connect!</p>
