
@{
    //Layout = null; //This is what was causing my page to be so ugly!
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
<p>
    Find me on <a href="https://www.linkedin.com/in/larspassic/">LinkedIn</a>
</p>
</body>
</html>
