
@{
    //Layout = null; //This is what was causing my page to be so ugly!
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
<h2>Contact</h2>
<p>
Here's where you can find me. <br />
<h6>Professional</h6>
Connect with me on <a href="https://www.linkedin.com/in/larspassic/" title="Lars Passic's LinkedIn profile">LinkedIn</a> <br />

<br />
I have some code projects on <a href="https://github.com/larspassic" title="Lars Passic's GitHub profile">GitHub</a> <br />
@*        <iframe id="frm1" src="https://github.com/larspassic" width="800" height="480"></iframe>*@
<br />
<br />
<h6>Personal</h6>
Check out my <a href="https://twitter.com/larspassic" title="@@larspassic on Twitter">Twitter</a> <br />
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The decisions you make today will affect people who have not even been born yet.</p>&mdash; Lars Passic (@@larspassic) <a href="https://twitter.com/larspassic/status/422726128995168256?ref_src=twsrc%5Etfw">January 13, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br />
I occasionally make videos on my <a href="https://www.youtube.com/user/LarsBars17" title="@@LarsBars17 on YouTube">YouTube Channel</a> <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MSGhX5sDaK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
</body>
</html>
