
@{
    //Layout = null; //This is what was causing my page to be so ugly!
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
<h2>Contact</h2>
<p>
See my projects on <a href="https://github.com/larspassic">GitHub</a> <br />
Check out my <a href="https://twitter.com/larspassic">Twitter</a> <br />
Find me on <a href="https://www.linkedin.com/in/larspassic/">LinkedIn</a> <br />
My <a href="https://www.youtube.com/user/LarsBars17">YouTube Channel</a> <br />
</p>
</body>
</html>
