
@{
    //Layout = null; //This is what was causing my page to be so ugly!
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
<h2>Contact</h2>
<p>
Here's where you can find me. <br />
<h6>Professional</h6>
Connect with me on <a href="https://www.linkedin.com/in/larspassic/">LinkedIn</a> <br />
I have some code projects on <a href="https://github.com/larspassic">GitHub</a> <br />
<br />
<br />
<h6>Personal</h6>
Check out my <a href="https://twitter.com/larspassic">Twitter</a> <br />
I occasionally make videos on my <a href="https://www.youtube.com/user/LarsBars17">YouTube Channel</a> <br />
</p>
</body>
</html>
