@{
    ViewData["Title"] = "Passic.com";
    
}
@model int

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<div class="card-img">

   <img src="/images/silhouette image.png" width = "@Model"  title="This is a picture at Cannon Beach"><img>

</div>

<p>Thank you for visiting <b>passic.com</b>!</p>
</div>
