@{
    ViewData["Title"] = "Passic.com";
    
}
@*@model int*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
<div class="card-img">

   <img src="/images/silhouette image.png" width = "1024"  title="This is a picture at Cannon Beach"><img>

</div>
<br />
<p>Thank you for visiting <b>passic.com</b>!</p>
</div>
