@{
    ViewData["Title"] = "Passic.com";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<div class="img-fluid">
   <img src="/images/silhouette image.png" width="1280" title="This is a picture at Cannon Beach"><img>
</div>

<p>Thank you for visiting <b>passic.com</b>!</p>
</div>
