@{
    ViewData["Title"] = "Passic.com";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <img src="/images/silhouette image.png" width="1280"><img>
    <p>Thank you for visiting <b>passic.com</b>!</p>
</div>
